@import "~bootstrap/scss/bootstrap";
// @import '~@fortawesome/fontawesome-free/css/all.css';
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "fonts";
@import "variables";

body {
  /*font-size: 62.5%;*/
  font-size: 1em;
  font-family: $font;
  color: $negro;
  scroll-behavior: smooth;

  @include media-breakpoint-down(sm) {
    background-size: 100%;
    background-position: -100px -30px;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
}

.contacto-redes ul li {
  padding: 60px 20px 10px 0;
  float: left;
  @include media-breakpoint-down(sm) {
    padding: 30px 20px 10px 0;
  }
}

.border-bottom {
  border-bottom: 1px solid #fff;
  padding: 24px 0;
}

img {
  max-width: 100%;
}
// p, ul, a{font-size: 1.8em;}
p {
  font-size: 1em;
}
a {
  font-size: inherit;
}
h1 {
  font-size: 3.5em;
  color: #ed1975;
}
h2 {
  font-size: 45px;
  color: #ed1975;
}
h3 {
  font-size: 25px;
  color: #222;
}
.fz-14 {
  font-size: 1.4em;
}
.fz-inh {
  font-size: 12px;
}
.font-weight-black {
  font-weight: 800;
}

.theme-color {
  color: $theme-color;
}
.blanco {
  color: #fff;
}

.btn-theme {
  background: #fff;
  color: #222;
  font-weight: bold;
  border: 0;
  line-height: 44px;
  min-width: 160px;
  padding: 4px 60px;
  font-size: 1em;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  &:hover {
    cursor: pointer;
    color: #222;
    background: #f2f2f2;
    text-decoration: none;
  }
}

.redes {
  li {
    margin-right: 1.5em;
    a {
      font-size: 2.6em;
    }
  }
}

header {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  .logo {
    padding: 20px 0;
    width: 150px;
    display: block;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .logo-black {
    padding: 20px 0;
    width: 150px;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
.text-white {
  color: #fff;
}
.ilustracion {
  position: relative;
  margin-bottom: -7em;
}

.open .collapse:not(.show) {
  display: block;
}

.portada {
  background-image: url(../images/header-back@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-top: 30vh;
  height: 100vh;
  .titular {
    font-size: 7.5em;
  }
}

.slider {
  width: 100%;
  height: 100vh;
  @include media-breakpoint-down(sm) {
    margin-top: 100px;
  }
  .owl-carousel {
    width: 100%;
    height: 100%;
    .owl-stage-outer {
      width: 100%;
      height: 100%;
      display: block;
      .owl-stage {
        width: 100%;
        height: 100%;
        display: block;
        .owl-item {
          width: 100%;
          height: 100%;
          display: block;
          .item-home {
            width: 100%;
            height: 100%;
            display: block;
            .slide {
              width: 100% !important;
              height: 100% !important;
              display: block;
              background-size: cover !important;
              background-position: center center !important;
              background-repeat: no-repeat;
              &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.25);
                z-index: 2;
              }
            }
            #slide01 {
              background: url("../images/slide01.jpg");
            }
            #slide02 {
              background: url("../images/slide02.jpg");
            }
            #slide03 {
              background: url("../images/slide03.jpg");
            }
            #slide04 {
              background: url("../images/slide04.jpg");
            }
          }
        }
      }
    }
  }
}

.hablemos {
  background: $negro;
  padding: 30em 0;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: $theme-color;
    }
  }
}

form {
  input:not([type="submit"]),
  textarea {
    background: #fff;
    border: 0;
    height: 3em;
    border: 0;
    display: block;
    width: 100%;
    margin-bottom: 2em;
    font-size: 1em;
    padding: 0 1em;
    border-radius: 5px;
    @include media-breakpoint-down(sm) {
      font-size: 1.7em;
    }
  }
  textarea {
    padding-top: 0.8em;
    height: 7em;
  }
}

.seccion-3 {
  .wrapper-helper {
    padding: 5em 2em 8em 3em;
    margin-top: -15em;
    background: #fff;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
  }
  .item-25 {
    text-align: center;
    padding: 3em inherit;
    .imagen {
      height: 11.5em;
      img {
        margin: auto;
      }
    }
    .texto {
      strong {
        display: block;
      }
    }
    &.centro {
      &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 60%;
        top: 20%;
        background: $theme-color;
        left: 15px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 60%;
        top: 20%;
        background: $theme-color;
        right: 15px;
      }
    }
  }
}

.contacto {
  background: #002735;
  background-image: url(../images/formas-back-contacto.svg);
  color: #fff;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  padding: 7em 0 0em;

  @include media-breakpoint-down(sm) {
    padding: 12em 2em 0;
  }

  .btn-theme {
    background: var(--unnamed-color-ff8717) 0% 0% no-repeat padding-box;
    background: #ff8717 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 8px;
    font-size: 1.3em;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      background-color: #f07f16;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.2em;
    }
  }

  h1 {
    font: Bold var(--unnamed-font-size-48) / var(--unnamed-line-spacing-60)
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ff8717);
    text-align: left;
    font: Bold 34px Open Sans;
    letter-spacing: 0px;
    color: #ff8717;
    opacity: 1;
    @include media-breakpoint-down(sm) {
      font-size: 4em;
    }
  }
  span {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    display: block;
    @include media-breakpoint-down(sm) {
      height: 40px;
      font-size: 1.7em;
    }
  }
  .d-dir {
    &:before {
      display: block;
      float: left;
      content: " ";
      margin: 5px 20px 30px 0;
      background-image: url("../images/location.svg");
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }
  .d-email {
    &:before {
      display: block;
      float: left;
      content: " ";
      margin: 5px 20px 0 0;
      background-image: url("../images/mail.svg");
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }
  .d-phone {
    &:before {
      display: block;
      float: left;
      content: " ";
      margin: 5px 20px 0 0;
      background-image: url("../images/phone.svg");
      background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }

  .productos-row {
    margin-top: 9em;
    flex-wrap: initial;
    .producto {
      text-align: center;
      width: 100%;
      .img-producto {
        text-align: center;
        height: 240px;
        margin-bottom: 1em;
        display: block;
        margin: auto;
      }
      .titulo-producto {
        text-align: center;
        color: #222;
        margin-top: 0;
        font-size: 2em;
        font-weight: bold;
        padding: 1.5em 0 2.5em;
      }
      .lista-producto {
        font-size: 1.6em;
      }

      @include media-breakpoint-down(sm) {
        .img-producto {
          height: 160px;
        }

        .btn-theme {
          padding: 4px 0;
        }
      }
    }
  }
}

.sustraccion {
  position: relative;
  width: 100%;
  bottom: -2px;
  left: 0;
}

.agencia {
  margin-top: -63px;
  background-image: url(../images/bg-top-agencia.svg);
  background-position: top;
  background-repeat: repeat-y;
  padding: 100px 0 40px;
  @include media-breakpoint-down(sm) {
    background-size: 100%;
    margin-top: -18px;
  }
}

.item-agencia {
  padding: 0px 20px 50px;

  h2 {
    font-size: 30px;
    color: #002735;
    padding-top: 30px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: #002735;
    padding-top: 20px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-002735);
    text-align: left;
    letter-spacing: 0px;
    color: #002735;
    opacity: 1;
  }
  .logos-herramientas {
    float: left;
    height: 28px;
    padding: 0 10px;
    margin: 10px 0;
  }
}

.performance {
  background-color: #002735;
  background-image: url(../images/formas-back-performance.svg);
  background-position: 18% 100px;
  background-repeat: no-repeat;
  background-size: 30%;

  @include media-breakpoint-down(sm) {
    background-size: 100%;
  }
}

.box-performance {
  padding: 140px 40px 140px 10%;
  width: 50%;

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 120px 40px;
    font-size: 1.1em;
  }
  h1 {
    color: #ff8717;
    font-size: 34px;
  }
  p {
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    padding-right: 120px;

    @include media-breakpoint-down(sm) {
      font-size: 2em;
      padding-right: 0;
    }
  }
}

.bg-performance {
  background-image: url(../images/performance@2x.png);
  background-size: cover;
  width: 50%;
  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 400px;
  }
}

.elipse {
  position: absolute;
  margin-top: -170px;
  left: -150px;
  width: 280px;
}

.elipse2 {
  position: fixed;
  top: 170px;
  right: -150px;
  width: 280px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.box-clientes {
  padding: 120px 100px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: 80px 30px 120px;
  }
  h1 {
    color: #ff8717;
    font-size: 34px;
    text-align: center;
    padding-bottom: 20px;
  }
  img {
    height: 100px;
    padding: 20px;
    @include media-breakpoint-down(sm) {
      padding: 10px;
      height: 58px;
      float: left;
    }
  }
}

.box-banner {
  height: 250px;
  background-size: 100%;
  border-radius: 125px;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
    background-image: none;
    height: 220px;
  }

  h2 {
    padding: 1.7em 0 0;
    color: #292537;
    font-size: 2em;
    font-weight: bold;
  }
  h3 {
    padding: 1em 0;
    color: #fff;
    font-size: 2em;
  }
  p {
    padding: 1em 0 0;
    color: #fff;
    font-size: 1.3em;
  }
}

nav a {
  color: #fff;
  font-size: 1.5em;
  padding: 20px 35px;
  @include media-breakpoint-down(sm) {
    font-size: 1.8em;
  }
}
nav a:hover,
nav a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  @include media-breakpoint-down(sm) {
    background: none !important;
    border-radius: 0;
  }
}

.scrolled {
  background-color: #fff !important;

  .menu-item a {
    color: #292537;
    transition: 0.5s ease-in-out;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: #292537;
      background-color: rgba(41, 37, 54, 0.1);
      border-radius: 10px;
      @include media-breakpoint-down(sm) {
        background-color: none;
        border-radius: 0;
      }
    }
  }
}

.open nav li {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}

.owl-carousel .owl-item img {
  display: initial !important;
  width: auto !important;
}
.carousel {
  margin-top: -190px;
}
.item {
  margin: 0 10px;
  border: solid 1px #ebebeb;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px 25px;
  h3 {
    font-weight: bold;
    color: #ed1975;
    padding: 25px 0 30px;
    font-size: 1.7em;
    @include media-breakpoint-down(sm) {
      font-size: 1.9em;
    }
  }
  p {
    font-size: 1.6em;
    height: 200px;
    @include media-breakpoint-down(sm) {
      font-size: 1.8em;
    }
  }
  strong {
    font-size: 1.7em;
  }
  .flag {
    font-size: 1.4em;
    padding-left: 10px;
  }
  .verified {
    color: #4bbfae;
  }
}

.skins {
  padding: 9em 0 0 0;
  color: #fff;
  h1 {
    font-weight: bolder;
    font-size: 2.8em;
  }
  p {
    color: #222;
    font-size: 1.5em;

    @include media-breakpoint-down(sm) {
      font-size: 1.8em;
    }
  }
  .skin-row {
    margin-top: 9em;
    .skins {
      text-align: center;
      width: 100%;
      .img-producto {
        text-align: center;
        height: 240px;
        margin-bottom: 1em;
        display: block;
        margin: auto;
      }
      .titulo-producto {
        text-align: center;
        color: #222;
        margin-top: 0;
        font-size: 2em;
        font-weight: bold;
      }
      .lista-producto {
        font-size: 1.6em;
      }
    }
  }
  .skin {
    ul {
      padding: 0;
    }
    @include media-breakpoint-down(sm) {
      li {
        text-align: center;
      }
    }
    h2 {
      font-size: 2em;
      font-weight: bold;
    }
    p {
      font-size: 1.5em;
      @include media-breakpoint-down(sm) {
        font-size: 1.8em;
      }
    }
    li {
      padding-bottom: 40px;
      float: left;
    }
    .btn-theme {
      margin: auto;
      color: #fff;
      margin-top: 30px;
      background-color: #ed1975;
      &:hover {
        background-color: #d41668;
      }
    }
    .cta {
      width: 100%;
      margin: auto;
      float: left;
      text-align: center;
    }
  }
}

.img-bg {
  background-color: #4bbfae;
  border-radius: 120px;
}

.intimates {
  padding: 9em 0 0 0;
  h1 {
    font-weight: bolder;
    font-size: 2.8em;
  }
}

.intimate {
  margin-top: 25px;
}

.intimate-row {
  margin-top: 9em;
}

.intimate {
  h2 {
    font-size: 2em;
    font-weight: bold;
  }

  p {
    font-size: 1.6em;
    @include media-breakpoint-down(sm) {
      font-size: 1.8em;
    }
  }
  .btn-theme {
    margin: auto;
    color: #fff;
    margin-top: 30px;
    background-color: #ed1975;
    &:hover {
      background-color: #d41668;
    }
  }
  .cta {
    width: 100%;
    margin: auto;
    float: left;
    text-align: center;
  }
}

.seccion-banner .container {
  padding: 0 0 100px 0;
}

footer {
  font-size: 1em;
  .ilustracion-3 {
    margin-top: -12em;
  }
  .bg-circulos {
    background-position: left 50%;
  }
  h2 {
    font-size: 1em;
    color: #222;
    padding-top: 2em;
  }
  hr {
    height: 1px;
    background: $theme-color;
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 3em;
    position: relative;
    top: -3em;
  }
  .link-footer a {
    color: #ed1975;
    padding: 0 1em;
    font-size: 1em;
    @include media-breakpoint-down(sm) {
      font-size: 1em;
    }
    &:hover {
      color: #292537;
    }
  }
  .link-footer2 {
    float: left;
    @include media-breakpoint-down(sm) {
      float: initial;
    }
  }
  .link-footer2 a {
    color: #ed1975;
    padding: 2em 0.3em;
    font-size: 1em;
    @include media-breakpoint-down(sm) {
      padding: 1.2em;
    }
    &:hover {
      color: #292537;
    }
  }
  .container {
    .btn-whatsapp {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 25px;
      right: 25px;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      box-shadow: 2px 2px 3px #999;
      background-color: #31d92b;
      z-index: 1000;
    }
  }
}

@include media-breakpoint-down(md) {
  .portada {
    .titular {
      margin-top: 1em;
      font-size: 3.5em;
    }
  }
  .hablemos {
    padding-top: 10em;
  }
}

@include media-breakpoint-down(sm) {
  .portada {
    .titular {
      display: none;
    }
  }
  .hablemos {
    padding-top: 10em;
  }
}

.box-home {
  text-align: center;

  h1 {
    font: Bold var(--unnamed-font-size-48) / var(--unnamed-line-spacing-60)
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ff8717);
    text-align: left;
    font: Bold 50px Open Sans;
    letter-spacing: 0px;
    color: #ff8717;
    opacity: 1;
  }
  p {
    font: Regular var(--unnamed-font-size-20) / var(--unnamed-line-spacing-32)
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  @include media-breakpoint-down(sm) {
    padding: 4em;
    h1 {
      font: Bold 38px Open Sans;
    }

    p {
      font-size: 2.2em;
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .seccion-3 .item-25.centro::before {
    left: 0;
  }
  .seccion-3 .item-25.centro::after {
    right: 0;
  }
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 50%;
  }
  .portada {
    .titular {
      margin-top: 2em;
      font-size: 3.8em;
    }
  }

  .seccion-3 .item-25.centro {
    padding: 2em 0;
    margin: 2em 0;
    &:before {
      width: 50%;
      height: 4px;
      left: 25%;
      top: 0;
    }
    &:after {
      width: 50%;
      height: 4px;
      left: 25%;
      top: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .seccion-3 {
    .wrapper-helper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

header.banner {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: none;
  transition: 0.5s ease-in-out;
  height: 100px;

  @include media-breakpoint-down(sm) {
    background-color: #fff;
  }

  button {
    &:focus {
      outline: transparent;
    }
  }

  .navbar-expand-lg,
  .navbar-collapse {
    justify-content: center;
    padding: 0;

    .navbar-brand {
      max-width: 230px;
      background: none;
      @media screen and (max-width: 768px) {
        padding: 10px 20px;
        max-width: 145px;
      }
    }

    ul {
      height: 100%;
      align-items: center;
      position: absolute;
      right: 0;
      @media screen and (max-width: 768px) {
        position: relative;
        padding: 10px 0;
        width: 100%;
      }

      @media screen and (max-width: 992px) {
        height: auto;
        align-items: flex-start;
      }

      li {
        line-height: 49px;
        transition: 0.2s ease-in-out;
        padding: 0 0;
        font-size: 0.75em;
        @media screen and (max-width: 768px) {
          border-bottom: 1px solid #ebebeb;
          width: 100%;
          font-size: 1em;
        }

        &:hover {
          box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);

          @media screen and (max-width: 992px) {
            box-shadow: none;
          }
        }
      }
    }
  }

  .navbar {
    padding: 50px;
    height: 80px;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
    .nav-link {
      color: #fff;
      transition: 0.5s ease-in-out;
      font-weight: 500;
    }

    .navbar-toggle {
      margin-top: 10px;
      display: none;
      border: none;
      background: transparent !important;
      width: 55px;
      height: 35px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        display: block;
      }

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 60%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
      }

      span:nth-child(1) {
        top: 0;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }

    .navbar-toggle.open span {
      background: $black;
    }

    .navbar-toggle.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      left: 0;
    }

    .navbar-toggle.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    .navbar-toggle.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 25px;
      left: 0;
    }
  }
}

header.open {
  background: #fff;
  height: 100vh;

  .navbar {
    a {
      color: #222;
    }
  }
}

.box-img-r {
  padding: 10em 0;
  @include media-breakpoint-down(sm) {
    padding: 10em 4em;
  }

  p {
    padding: 3em 0 2em 2em;
    font-size: 2.4em;
    color: #fff;
  }
}

.img-girls {
  position: absolute;
  right: 0;
  margin-top: -660px;
  width: 800px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    position: relative;
    margin-top: -90px;
  }
}

.collapse {
  display: block;
}

.redes {
  border-top: 1px solid #ff8717;
  padding: 2em;
  @include media-breakpoint-down(sm) {
    padding: 4em 0 0;
  }
}

.copy {
  border-top: 1px solid #ff8717;
  padding: 2em 4em;
  font-size: 17px;
  font-weight: bold;
  @include media-breakpoint-down(sm) {
    text-align: center;
    border-top: none;
  }

  p {
    padding: 0;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

header.banner .navbar-expand-lg ul li:hover,
header.banner .navbar-collapse ul li:hover {
  box-shadow: none;
}

.logo-clientes {
  height: 100px !important;
  @include media-breakpoint-down(sm) {
    height: 66px !important;
  }
}

.logo-clientes2 {
  height: 150px !important;
  @include media-breakpoint-down(sm) {
    height: 125px !important;
  }
}

.logo-clientes3 {
  height: 105px !important;
  @include media-breakpoint-down(sm) {
    height: 52px !important;
  }
}

.logo-clientes4 {
  height: 105px !important;
  @include media-breakpoint-down(sm) {
    height: 62px !important;
    margin-top: 28px !important;
  }
}

/* LANDINGGRACIAS */

.gracias_container {
  width: 100vw;
  height: 100vh;
  background-color: #002735;
  display: flex;
  background-image: url("../images/formas-back-gracias.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;

  .fondo_cuerpo {
  }

  h1 {
    color: #ff8717;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-size: 20px;
  }

  .btn-theme {
    background-color: #ff8717;
    box-shadow: 0px 2px 4px #00000029;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 45px;
  }

  .logo {
    position: absolute;
    top: 24px;
    left: 101px;
    height: 48px;
  }

  footer {
    position: absolute;
    bottom: 40px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social {
      margin-left: 101px;
      color: #fff;

      a {
        img {
          height: 27px;
          margin-right: 15px;
        }
      }
    }

    .copyright {
      margin-right: 101px;
      font-size: 14px;
    }
  }
}
